<!-- Image and text -->

<div class="container-fluid home-page" style="padding-top: 50px;">
    <div *ngIf="!isLogin" class="container">
        <div class="row d-flex justify-content-center">
            <img src="/assets/img/app.svg" class="ml-auto" style="fill: white; width: 200px;height: 90px;color: white;"
                alt="">
        </div>
        <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-secondary mt-3">
                Create Item lists
            </button>
        </div>
        <div class="row d-flex justify-content-center">
            <button type="button" (click)="isLogin = !isLogin" class="btn btn-secondary mt-3">
                Login as User
            </button>
        </div>
        <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-secondary mt-3">
                Login as Shop owner
            </button>
        </div>
    </div>
    <div *ngIf="isLogin" class="form-group">
        <label for="">Enter your Phone Number</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    </div>
    <div class="loop-wrapper">
        <div class="mountain"></div>
        <div class="hill"></div>
        <div class="tree"></div>
        <div class="tree"></div>
        <div class="tree"></div>
        <div class="rock"></div>
        <div class="truck"></div>
        <div class="wheels"></div>
    </div>


</div>