<p>item-list-page works!</p>

<button (click)="add()">Add items</button>
<div class="container-fluid p-2" style="height: 400px;display: flex;overflow-x: auto;">
    <div *ngFor="let item of $Items | async" class="card mx-2" style="min-width: 200px;height: 200px;">
        <img src="{{item.imgUrl}}" class="card-img-top" style="width: 190px;" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted ">{{item.id}}</h6>
            <p class="card-text">{{item.quantityType}}</p>
        </div>
    </div>
</div>
{{$Items | async}}
a;lk
{{count$ | async}}