<div class="row rounded item-selected d-flex border g-0 my-2"
    style="max-height: 100px;background-color: white; width: 100%;">
    <div class="col-4">
        <img src="{{item.imgUrl}}" class="rounded" style="height: 90px; width: 90px;" alt="...">
    </div>
    <div class="col-6  d-flex align-items-center">
        <p style="font-size: 24px;">{{item.id}}:{{item.name}}</p>

    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
        <!-- <mat-checkbox [disableRipple]="true" style="transform: scale(1.5);" class="mb-2"></mat-checkbox> -->
        <img src="./assets/img/app.svg" style="width: 25px;">
    </div>
</div>